{{#if currentUser.firstSignin}}
<h3 class="text-center"><span class="text-primary">Welcome to IronBugs!</span> <br> In order to finalize your Profile,
  please fill up the <strong>form</strong></h3>

<form action="/bugArea/form/{{currentUser._id}}" method="POST" enctype="multipart/form-data">

  <div class="input-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="image" id="inputGroupFile04"
        aria-describedby="inputGroupFileAddon04">
      <label class="custom-file-label" for="inputGroupFile04">Choose an Profile Image</label>
    </div>

  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name='name' placeholder="Max Mustermann"
      value="{{currentUser.name}}" required>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Bootcamp</label>
    <select class="form-control" id="exampleFormControlSelect1" name='bootcamp'>
      <option>Web Development</option>
      <option>Data Analytics</option>
      <option>UI / UX</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Type</label>
    <select class="form-control" id="exampleFormControlSelect2" name="type">
      <option>Full Time (FT)</option>
      <option>Part Time (PT)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Location</label>
    <select class="form-control" id="exampleFormControlSelect1" onchange="locationChanged()" name="location">
      <option>Berlin</option>
      <option>Amsterdam</option>
      <option>Madrid</option>
      <option>Miami</option>
      <option>Sao Paulo</option>
      <option>Barcelona</option>
      <option>Lissabon</option>
      <option>Mexico City</option>
      <option>Paris</option>
    </select>
  </div>

  <button class="btn btn-success btn-large" type="submit">Submit the Form</button>
</form>



{{else}}
<nav class="navbar navbar-dark bg-primary">
  <h1>Welcome {{ currentUser.name }}</h1>
  <a href="/addBug" class="btn btn-success"> REPORT A BUG</a>
  <a href="/userProfile" class="btn btn-outline-warning"> Go to my profile</a>
  <a href="/logout" class="btn btn-danger">Log Out</a>
</nav>

<div class="container">

<form action="/filterByLocation" method="post">
<div class="row mt-3 mb-3 ">
<label for="chooseBootcamp" class="mt-2">Bootcamp: </label>
<select class="ml-2" id="chooseBootcamp" name="chooseBootcamp">
  <option>Berlin</option>
  <option>Amsterdam</option>
  <option>Madrid</option>
  <option>Miami</option>
  <option>Sao Paulo</option>
  <option>Barcelona</option>
  <option>Lissabon</option>
  <option>Mexico City</option>
  <option>Paris</option>
</select>
<button type="submit" class="btn btn-success ml-2">Submit</button>
<a href="/bugArea" class="btn btn-primary ml-2">Show All Bugs</a>
</div>

</form>
</div>

<div class="container">
<div class="row">
  {{#each bugsList}}


  <div class="card col-md-4 mb-1" style="width: 18rem;">
    <img width="300" height="300" src="{{imgPath}}" class="card-img-top" alt="{{imgName}}">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ description }} <br> {{ location }}</p>

      <a href="/bugs/{{ _id }}" class="btn btn-primary">See Details</a>
      <br>
      {{#if hasVoted}}
      <span id="voteNumber">🐞 Votes: {{numberOfVotes}}</span>
      {{else}}
        <a href="/postVotes/{{ _id }}">🔺 Votes: <span id="voteNumber">{{numberOfVotes}}</span></a>
      {{/if}}

    </div>
  </div>

  {{!--
<p>
  <a href="/bugs/{{ _id }}">{{ title }} {{ description }}</a>
</p> --}}
  {{/each}}
</div>
</div>


{{/if}}
