{{#with bug}}
<h1>{{title}}</h1>
<span>Desription: {{description}}</span>
<img src="{{imgPath}}" alt="{{imgName}}"> 

<p>Creation date: {{date}}</p>
<p>Bug Number: </p>
<p>Status: </p>
<p>Bootcamp: </p>
{{#if anonym}}
  <p>Author: Crazy Bugger </p>
{{else}}
  <p>Author: {{ currentUser.name }} </p>
{{/if}}

{{/with}}


<a href="/bugs/edit/{{bug._id}}">Edit this Bug</a>

<a href="/bugs/delete/{{bug._id}}">Delete this Bug</a>

<button><a href="/bugArea">Back to All Bugs</a></button>