
<h1>{{bug.title}}</h1>
<img height="200" width="200" src="{{bug.imgPath}}" alt="{{bug.imgName}}"> 
<br>
<span>Desription: {{bug.description}}</span>

<p>Creation date: {{bug.createdAt}}</p>
<p>Bug Number: {{bug.bugnumber}} </p>
<p>Status: {{bug.status}} </p>
<p>Bootcamp: {{bugOwner.bootcamp}} - {{bugOwner.timeType}} </p>
{{#if bug.anonym}}
  <p>Author: Crazy Bugger </p>
{{else}}
  <p>Author: {{ bugOwner.name }} </p>
{{/if}}


{{#if isUserBug}}
  <a href="/bugs/edit/{{bug._id}}">Edit this Bug</a>

  <a href="/bugs/delete/{{bug._id}}">Delete this Bug</a>
{{/if}}


<button><a href="/bugArea">Back to All Bugs</a></button>