<div class="row mt-5">
<div class=" col-md-3 mx-auto mt-5" style="width: 20rem;">
    <h5 class="card-title">{{ bug.title }}</h5>
    <div class="card-body">
      <img width="300" height="300" src="{{bug.imgPath}}" class="card-img-top" alt="{{bug.imgName}}">

      <p class="card-text">Description: {{ bug.description }} <br> {{ bug.location }}</p>
      <p class="card-text">Status: {{ bug.status }}</p>
      <p class="card-text">Bootcamp: {{bugOwner.location}} - {{ bugOwner.timeType }}</p>

      {{#if bug.anonym}}
  <p>Author: Crazy Bugger </p>
{{else}}
      <p>Author: {{ bugOwner.name }} </p>
      {{/if}}

{{#if isUserBug}}
  <a href="/bugs/edit/{{bug._id}}" class="btn btn-outline-warning">Edit this Bug</a>

  <a href="/bugs/delete/{{bug._id}}">Delete this Bug</a>
{{/if}}


<a href="/bugArea" class="btn btn-success">Back to All Bugs</a>

    </div>
  </div>
</div>

