<h1>Hello {{currentUser.name}}</h1>

<p> Show user information here</p>
{{#with currentUser}}
<h1>{{name}}</h1>
<img height="200" width="400" src="{{imgPath}}" alt="{{imgName}}"> 
<p>Bootcamp: {{bootcamp}} - {{timeType}}</p>
<p>Location: {{location}}</p>
{{/with}}


<p>My Reported Bugs</p> 
  {{#each bugMap}}
<p>
  <a href="/bugs/{{ _id }}" class="btn btn-info">{{ title }}</a>
</p>
{{/each}}

<p>Show all the reported bugs by the user... if the User does not have any bugs show "You still don't have any Bugs reported 😢 Wanna report one now? - </p>
<a href="/addBug" class="btn btn-success"> Report a Bug</a>
<a href="/bugArea" class="btn btn-primary">See all the Bugs</a></p>
<a href="/logout" class="btn btn-danger">Log Out</a>
